body {
  font: 17px/1.6 sans-serif;
  color: white;
  text-rendering: optimizeLegibility;
  padding: 2rem;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #000;
}
nav {
  float: left;
  padding: 45px;
}
article {
  padding: 45px;
}
header {
  padding: 45px;
  border-bottom: 1px solid #222;
}
header a img {
  filter: invert(1);
}
header h1 {
  display: inline;
}
footer {
  padding: 45px;
}
pre, code {
  font-size: inherit;
  background: #eee;
}
pre {
  margin-bottom: 2rem;
}
pre code {
  display: block;
  border: none;
  padding: 1em;
  background: none;
  overflow-x: auto;
}
code {
  background: #eee;
}
.writing ul li, .home ul li {
  list-style-type: none;
  display: flex;
  font-variant-numeric: tabular-nums;
}
.home ul li a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
time {
  padding-right: 1rem
}
blockquote {
  margin: 1em 0;
  padding: 0 2em;
  border-left: 3px solid #eee;
}
img {
  max-width: 100%;
}
a, a:visited {
  color: white;
}
